name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        arguments: build test connectedCheck
    - name: Upload reports
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: reports
        path: |
          app/build/reports
          app/build/test-results
